<h1>Music App</h1>



<h3>Sign Up!</h3>

    <form action =<%= users_url %> method = "POST">
        <%=form_auth_token %>
        <label for="email">Email
            <input type="text" name = "user[email]" id= 
            "email" value= '<%= @user.email%>'>
        </label>

        <label for="password">Password
            <input type="text" name="user[password]" id="password" value= '<%= @user.password %>'>
        </label>

        <button>Create User</button>

    </form>