<h1>Music App</h1>



<h3>Log In</h3>

    <form action =<%= session_url %> method = "POST">
        <%=form_auth_token %>
        <label for="email">Email
            <input type="text" name = "user[email" id= 
            "email" value= '<%= @user.email%>'>
        </label>

        <label for="password">Password
            <input type="text" name="user[password]" id="password" value= '<%= @user.password %>'>
        </label>

        <button>Log in</button>

    </form>