<h1>Music App</h1>

<h2>Create a Band!</h2>

<form action=<%= bands_url%> method = "POST">
    <%=form_auth_token %>
    <label for="name">Band Name
    <input type="text" name="band[name]" id="name" value=<%= @band.name%>>
    </label>

    <button>Create Band</button>
</form>